$bg-color-primary:#d70081;
$bg-color-secudary:#fbe5cc;
$bg-color-tertiary: rgb(226, 62, 231);
$bg-color-quaternary:#05f7c6; 
$bg-color-quitenary:  rgba(255,255,255,0.8);

$color-primary: whitesmoke;
$color-secudary:#d70081;
$color-tertiary:#2c3e50;